.btn-bag {
    background-color: #488cf5 !important;
    color: #fff !important;
    width: 150px;
}

.btn-login {
    background-color: #f4891f !important;
    color: #fff !important;
    width: 150px;
}

.btn-send {
    background-color: #488cf5 !important;
    color: #fff !important;
}